body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* .btn-login {
  background-color: #fcf404 !important;
  color: black !important;
  border: 0px !important;
  padding: 4px 32px !important;
  gap: 10px;
  width: 126px;
  border-radius: 20px !important;
  font-size: 16px !important;
} */
