.trending-title {
  color: white;
  text-align: center;
}

.card {
  --bs-card-border-radius: 50% !important;
  --bs-card-bg: none !important;
  opacity: 0.7;
  cursor: pointer;
}

.card:hover {
  opacity: 0.9;
  scale: 1.05;
}

.card-style {
  width: 300px;
  --bs-card-border-color: none !important;
}

.card-body {
  height: 400px;
  color: white !important;
  border: 1px solid rgba(138, 138, 138, 0.4);
  border-radius: 20px;
  box-shadow: 4px 3px 50px 2px rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-trending-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-5.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-6.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-7.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-trending-8 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../../assets/images/trending/trending-8.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
