* {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

.header-brand {
  font-size: 2.5rem !important;
  color: #fcf404 !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
}

.header-link,
.dropdown-toggle {
  color: white !important;
  opacity: 0.6;
}

.header-link:hover,
.dropdown-toggle:hover {
  opacity: 0.9 !important;
}

.genre-dropdown .dropdown-menu.show {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(150px, 200px));
}

.navbar-toggler {
  border-color: #fcf404 !important;
  border-width: 2px !important;
}

.forLogin #nav-dropdown {
  color: white !important;
  opacity: 1;
  font-size: 18px;
}

.login-header {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.login-header:hover {
  color: #fcf404;
}

.navbar-dark {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28252, 244, 4, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}

/* Media Query */

/* Large Breakpoint */
@media only screen and (max-width: 61.9375rem) {
}

/* Medium Breakpoint */
@media only screen and (max-width: 47.9375rem) {
  .header-link,
  .dropdown-toggle {
    margin-bottom: 25px;
    opacity: 0.9;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .btn-login {
    margin-top: 8px;
  }

  .header-link-home {
    display: flex !important;
  }

  button.btn-close {
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e")
      center/1em auto no-repeat;
  }
}
