.recommend-title {
  color: white;
  text-align: center;
}

.card-style {
  width: 300px;
  --bs-card-border-color: none !important;
}

.card-style1 {
  color: white;
  border: 1px solid rgb(138, 138, 138);

  height: 400px;

  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;

  box-shadow: 4px 3px 50px 15px rgba(255, 255, 255, 0.1);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url("https://source.unsplash.com/random/?Cryptocurrency&1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-overlay {
  border-radius: 20px !important;
}
